
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<div>
    <table style="width:100%;"class="table-bordered">
        <tr><td>用户名</td><td><input id="Text1" type="text" /></td></tr>
        <tr><td>密码</td><td><textarea id="TextArea1" rows="4" cols="40"></textarea></td></tr>
        <tr><td>&nbsp;</td><td><input id="Submit1" type="submit" value="提交"  class="btn btn-primary"/>&nbsp;&nbsp;<input id="Button1" type="button" value="取消" class="btn btn-warning" /></td></tr>
    </table>
</div>

